{% set hasAgent = responder is defined and responder is not empty %}
<div class="pr-ticket-conversation {% if hasAgent %}response{% else %}request{% endif %}">
    <div class="pr-ticket-conversation-content">
        <div class="pr-ticket-conversation-text">{{ wpautop(text)|raw }}</div>
        {% if hasAgent %}

            {{ render_user_data('avatar', responder, {size: 55, class: 'pr-ticket-user-avatar'})|raw }}

        {% endif %}
    </div>
    <div class="pr-ticket-conversation-metadata">
        <time class="pr-ticket-conversation-datetime" datetime="{{ created_at|esc_attr }}">
            {{ created_at|datetime('j F Y H:i')|raw }}
        </time>
        {% if hasAgent %}

            <span class="pr-ticket-conversation-agent">{{ render_user_data('name', responder)|raw }}</span>
        {% endif %}

    </div>
</div>
