<div class="wrap pr-ticket-show">
    <h1 class="wp-heading-inline">{{ title|raw }}</h1>
    <hr class="wp-header-end">

    <div class="pr-ticket-container">
        {% if items is defined
            and items is not empty %}
            <div class="pr-ticket-info">
                <table>
                    <thead>
                    <tr>
                        {% for item in data %}
                            <th>{{ item.label|raw }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for item in data %}
                            <td>{{ item.value|raw }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
                {% if items.text is defined
                    and items.text is not empty %}
                    <div class="pr-ticket-text">{{ items.text.value|raw }}</div>
                {% endif %}
            </div>
        {% endif %}

        <div class="pr-ticket-conversion-container">
            <header class="pr-ticket-conversion-header">
                {{ get_avatar(user.id, 55, {class: 'pr-ticket-user-avatar'})|raw }}
                <span class="pr-ticket-user-name">{{ user.name }}</span>
            </header>
            <div class="pr-ticket-conversion-list">
                {% if conversions is defined
                    and conversions is not empty
                    and conversions.items is defined
                    and conversions.items is not empty %}

                    {% for conversion in conversions.items %}

                        {{ pmpr_do_action('ticket_render_backend_conversion', conversion) }}

                    {% endfor %}

                {% else %}
                    <div class="pr-ticket-conversion-empty">{{ empty_message|raw }}</div>
                {% endif %}
            </div>

            <div class="pr-ticket-conversion-form">
                {{ form|raw }}
            </div>
        </div>
    </div>
</div>
